PORT=5000
MONGODB_URI=MONGODB_URI=mongodb+srv://vedika:vedika7@cluster0.uofdtd2.mongodb.net/sortmyscene?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_change_in_production
NODE_ENV=development
